@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
    font-size: 16px;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
    color: #fff;
    font-size: 1.8rem;
}
