@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Blinker:400,700&display=swap');

body {
    font-size: 16px;
    font-family: 'Blinker', sans-serif;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
    color: #fff;
    font-size: 1.8rem;
}

.search-header {
    font-family: 'Courgette', cursive;
}

.bg-gray {
    background: #e2e2e2;
}

.btn-search {
    font-family: 'Blinker', sans-serif;
}
